
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap");


*, *::after, *::before {
  box-sizing: border-box;
}


body {
  background-color: #1A1A2E;
  
}

.container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  
}

button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

button {
  position: relative;
  border: none;
  font-size: 18px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 3px;
  margin: 0 10px;
  padding: 23px 33px;
  border: 3px solid transparent;
}
button:active {
  transform: translateY(3px);
}
button::after, button::before {
  border-radius: 3px;
}

.shrink-border {
  background-color: transparent;
  color: #AAA;
}
.shrink-border:hover {
  background-color: transparent;
  box-shadow: none;
  color: #FFF;
  text-shadow: 
    0 0 7px white,
    0 0 10px #E94560,
    0 0 21px #E94560,
    0 0 42px #E94560,
    0 0 82px #E94560,
    0 0 92px #E94560,
    20px 0 102px #E94560,
    1px 0 0 #E94560,
    -1px 0 0 #E94560,
    0 -1px 0 #E94560,
    0 1px 0 #E94560;
}
.shrink-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  transition: opacity 0.3s, border 0.3s;
}
.shrink-border:hover::before {
  opacity: 0;
  outline: none;
  
}
.shrink-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid #E94560;
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}
.shrink-border:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
  outline: none;
  
  border-color: #E94560;
  box-shadow: 
    0 0 7px #FFF,
    0 0 10px #E94560,
    0 0 20px #E94560;
  
}


nav.smull
{
    display:block;
    font-family: Raleway;
    margin: 0 auto;
	  padding: 1vw 1vw;
	  text-align: left;


}


nav.smull .point
{
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding:20px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    
}

.logoimg
{
    margin-right:15px;
    vertical-align: middle;
    filter:
      
      drop-shadow(0 0 7px rgba(255,255,255,0.2))
      drop-shadow(0 0 10px #E94560)
      drop-shadow(0 0 21px #E94560);


}

.titletext{
  vertical-align: middle;
}

nav.smull .dot
{
    
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size:30px;
    margin: 0px 10px;
    padding:20px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-shadow: 
    0 0 7px white,
    0 0 10px #E94560,
    0 0 21px #E94560,

    1px 0 0 #E94560,
    -1px 0 0 #E94560,
    0 -1px 0 #E94560,
    0 1px 0 #E94560;
}


.brown
{
    background: #1A1A2E;
}



/* Highlight text out  */
nav.highlightTextOut a
{
    color: rgba(255, 255, 255, 0.3); 
}

nav.highlightTextOut .point:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding:20px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 


nav.highlightTextOut .point:hover:before
{
    transform: scale(1);
    opacity: 1;
    text-shadow: 
    0 0 7px white,
    0 0 10px #E94560,
    0 0 21px #E94560,

    1px 0 0 #E94560,
    -1px 0 0 #E94560,
    0 -1px 0 #E94560,
    0 1px 0 #E94560;
}


nav.highlightTextOut .svgimg:before
{
    position: absolute;
    color: #FFF;
    overflow: hidden;
    content: url(img/hamburger.svg);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
    display:inline;
    vertical-align: middle;
    
    
} 


nav.highlightTextOut .svgimg:hover:before
{
    transform: scale(1);
    float:right;
    vertical-align: middle;

    opacity: 1;
    filter:
      
      drop-shadow(0 0 7px #FFF)
      drop-shadow(0 0 10px #E94560)
      drop-shadow(0 0 21px #E94560)
      drop-shadow(0 0 42px #E94560);
}


.por{
    margin-top:30px;
    text-align: center;
}

.navcon{
  text-align: left;
  padding-top: 1.2vh;
  display:block;
}

.svgimg{
  display:none;
}

.dot:hover, 
.dot:focus {
  animation: pulse 1.5s;
}



@keyframes pulse {
  0%{ 
    filter:
      drop-shadow(0 0 0 rgba(255,255,255,0));}
  30%{ 
    filter:
    drop-shadow(0 0 0 #FFF);}
  100%{ 
    filter:
    drop-shadow(0 0 0 rgba(255,255,255,0));}
  
}

@media screen and (max-width: 880px) {
  .smull a.point:not(:first-child) {display: none;}
  .smull .svgimg {
    display:inline;
    float:right;
    margin-right: 2vw;
    vertical-align: middle;
    
    
  }
}
